@charset "UTF-8";

*{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* 
    Medidas Absolutas
    cm, mm, in (polegadas), px, pt, pc
    
    Medidas Relativas
    em, ex, rem, vw, vh, %
    */
}

body {
    background-color: #3b3b3b;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

h1 {
    /* Shorthand font
     font-style -> font-weight -> font-size -> font-family */
     font: italic bolder 3em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    /* Shorthand font
     font-style -> font-weight -> font-size -> font-family */
     font: bolder 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
