@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --fonte1: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'Passion One', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    padding-top: 30px;
    background-color: black ;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header h1 {
    text-transform: small-caps;
}

header p {
    padding-bottom: 30px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.5em;

}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(73, 73, 73);
    color: white;
}

section.imagem p {
    background-color: rgb(97, 97, 97);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}